ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 100px;
    font-size: 18px;
    height: 100px;
}

li {
    float: left;
}

ul :last-child{
    float: right;
}

a:link,
a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    /* background-color: #bebebe; */
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover,
a:active {
    background-color: #ffffff;
    color: #996600;
}

.aboutUs-modal{
    width: 130px;
    height: 70px;
    /* position: absolute;
    left: 71%;
    top: 10%; */
}

.aboutUs-modal a{
    color: #000000;
    line-height: 35px;
    font-size: 16px;
}

.aboutUs-modal a:hover,
a:active {
    background-color: #996633;
    color: #fff;
}

.aboutUs-modal-content{
    /* height: 35px; */
    width: 100%;
}

