
/* 网页主体 */
.main{
    width: 1366px;
    height: auto;
    margin: auto;
    padding: auto;
    background-color: grey;   

}


/* 头部 */
.header {
    height: 100px;
    /* background-color: hotpink; */
    background-image: url("../images/header.gif");
}


/* 轮播图 */
.banner {
    height: 650px;
    background-color: #ffcccc;
    background-image: url("../images/banner/banner1.png");
}


/* 内容区 */
.content{
    height: 840px;
}


/* 尾部信息 */
.footer{
    height: 120px;
    /* background-color: forestgreen; */
    background-image: url("../images/footer.gif");
}



.header-content, .content-content, .footer-content{
    width: 976px;
    /* background-color: blue; */
    height: 100%;
    margin: auto;
}

.content-frame {
     /**首页初始高度*/
     height: 100%;
     width: 976px;
}